.toursmonth_andtimeyears_items {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 35px;
}

.toursmonth_items {
  display: grid;
  grid-template-columns: repeat(6, 97px);
  gap: 15px;
  align-content: start;
}

.timeyeras_items {
  grid-template-columns: 97px 97px;
}

.toursmonth_item {
  display: flex;
  flex-direction: column;
  padding: 14px 18px;
  border: 1px solid var(--line);
  border-radius: var(--def-radius);
  background-color: var(--white);
}

.toursmonth_item__current {
  border-radius: var(--def-radius);
  box-shadow: var(--btn-focus);
}

.toursmonth_item_title {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: var(--primary-light);
}

.timeyeras_items .toursmonth_item_title {
  text-align: center;
}

.toursmonth_item_title__current {
  color: var(--green-badge);
}

.toursmonth_temp {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  color: var(--primary-light);
}

.timeyeras_items .toursmonth_temp {
  justify-content: center;
}

.toursmonth_temp + .toursmonth_temp {
  margin-top: 5px;
}

.toursmonth_temp_img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

.timeyeras_items .toursmonth_temp_img_wrapper {
  margin-right: 0;
}

@media (min-width: 810px) {
  .toursmonth_items {
    row-gap: 25px;
  }
}

@media (max-width: 970px) {
  .toursmonth_items {
    grid-template-columns: repeat(auto-fill, 97px);
  }
  .timeyeras_items {
    grid-template-columns: 97px 97px;
  }
}

@media (max-width: 600px) {
  .timeyeras_items {
    grid-template-columns: 97px;
  }
}

@media (max-width: 500px) {
  .toursmonth_andtimeyears_items {
    grid-template-columns: 1fr;
    row-gap: 35px;
  }

  .timeyeras_items {
    grid-template-columns: repeat(auto-fill, 97px);
  }
}
