.review {
  margin-bottom: 20px;
  border-radius: var(--def-radius);
  background-color: var(--font-white);
  box-shadow: var(--formfield-shadow);
}

.review:last-child {
  margin-bottom: 0px;
}

.review_header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 20px;
  border-bottom: 1px solid var(--line);
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-light);
}

.review_header img,
.letter_img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  border-radius: 50%;
}

.letter_img {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-white);
  text-transform: uppercase;
}

.review_header p {
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.review_header span {
  flex-shrink: 0;
  margin-left: auto;
}

.review_content {
  padding: 20px;
  font-size: 15px;
  line-height: 20px;
  white-space: pre-wrap;
}

.review_content_img_wrapper img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: var(--def-radius);
}

.lightbox_btn {
  margin-top: 11px;
  margin-right: 20px;
  background-color: transparent;
}

@media (min-width: 810px) {
  .review_header img,
  .review_header p {
    margin-right: 25px;
  }

  .review_content {
    font-size: 16px;
  }

  .review_content_img_wrapper img {
    width: 100px;
    height: 100px;
  }

  .lightbox_btn {
    margin-top: 25px;
  }
}
