.burger_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
  transition: background 0s, transform var(--base-transition);
  z-index: var(--burger-z);
}

.burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: var(--bg);
}

.burger_overlay.open {
  background-color: var(--primary-03);
  transform: translateX(0);
  transition: background 0s 300ms, transform var(--base-transition);
}

.burger_content_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr max-content;
  row-gap: 40px;
  height: calc(100vh - 73px - 100px);
  margin: 20px 20px 0;
}

@media (min-width: 810px) {
  .burger {
    width: 420px;
  }

  .burger_content_wrapper {
    height: calc(100vh - 115px);
    margin-left: 40px;
    margin-right: 40px;
  }
}

.burger_nav,
.right_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger_nav {
  margin: 10px 0;
}

.right_column {
  align-items: flex-end;
}

.burger_nav_link {
  position: relative;
  /* padding: 5px; */
  font-size: 16px;
  line-height: 19px;
  letter-spacing: var(--letter);
  text-transform: uppercase;
  transition: color var(--base-transition);
}

.burger_nav_link:hover {
  color: var(--menu-hover);
}

.burger_nav_link.hot::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: translateY(-50%);
  background: linear-gradient(
    99.91deg,
    var(--secondary) 17.57%,
    #ff1821 112.75%
  );
}

.circle_btn {
  width: 100px;
  height: 100px;
  padding: 2px 0 0;
  border-radius: 50%;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: var(--letter);
  background: linear-gradient(135deg, #55b54a 0%, #44cc35 100%);
  color: var(--font-white);
}

.circle_btn:active {
  border-radius: 50%;
}

.buregr_copyright {
  grid-column: 1/3;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}
