.load_more_wrapper {
  margin-top: var(--block-top);
  /* text-align: center; */
}

@media (min-width: 810px) {
  .load_more_wrapper {
    grid-column: 2/3;
  }
}

.load_more_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 18px;
}

.load_more_btn svg {
  margin-right: 10px;
}

.load_more_btn:active svg {
  animation: rotate-center 1s ease-in-out both;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
