.filter_header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}

.title {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.reset_btn {
  display: flex;
  align-items: center;
  height: 17px;
  overflow: hidden;
  text-decoration: underline;
  background-color: transparent;
}

.filter_parts,
.filter_parts_mobile {
  margin-bottom: 30px;
}

.filter_parts_row,
.filter_parts_row_stars {
  display: flex;
}

.filter_parts_row_stars label + label {
  margin-left: 10px;
}

.filter_parts_row label + label {
  margin-left: 20px;
}

.filter_parts_title {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
}

.stars {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 16px;
  height: 17px;
  margin: 7px 0;
}

.checkbox_icon_wrapper {
  display: flex;
  align-items: center;
}

.checkbox_text_wrapper {
  margin: 16px 0;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary);
}
