.cards_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 15px;
  row-gap: 20px;
  margin-top: 15px;
}

.card:hover .img {
  transform: scale(1.1);
}

.card {
  display: block;
  border-radius: var(--def-radius);
  overflow: hidden;
  box-shadow: var(--formfield-shadow);
}

.img {
  transition: transform 0.3s ease-in-out;
}

.card_name {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 52px;
  margin: 0;
  padding: 12px;
  font-size: 14px;
  line-height: 14px;
}

.card_name span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card_name img {
  margin-right: 4px;
}

@media (min-width: 810px) {
  .cards_wrapper {
    grid-gap: 25px;
    margin-top: 25px;
  }

  .card_name {
    padding: 25px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 560px) {
  .cards_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 410px) {
  .card_name span {
    max-width: 110px;
  }
}

@media (max-width: 370px) {
  .card_name span {
    max-width: 100px;
  }
}
