.switch {
  position: relative;
  display: inline-flex;
  border-radius: 50px;
  background-color: var(--line);
}

.switch_label {
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  color: var(--primary-light);
  transition: color var(--base-transition);
  z-index: var(--switch-menu-label-z);
}

.switch_label:hover {
  color: var(--primary);
}

.switch_indicator {
  position: absolute;
  top: 4px;
  left: 0;
  height: 28px;
  border-radius: 50px;
  background-color: var(--primary);
  transform: translate3d(5px, 0, 0);
  transition: transform var(--back-transition);
}

.switch input[type='radio']:not(:checked),
.switch input[type='radio']:checked {
  display: none;
}
