.breadcrumbs_list li {
  display: inline;
}

.breadcrumbs_list li:not(:first-child)::before {
  content: '/';
  margin: 0 3px;
  color: var(--primary-light);
}

.breadcrumbs_list a {
  color: var(--primary-light);
  text-decoration: underline;
  transition: color var(--base-transition);
}

.breadcrumbs_list a:hover:not(.current) {
  color: var(--primary);
}

.breadcrumbs_list a.current {
  text-decoration: none;
}

.mb20 {
  margin-bottom: 20px;
}
