.form {
  margin-top: 15px;
}

.form.loading input {
  background-color: var(--bg);
}

.first_input {
  position: relative;
}

.first_input img {
  position: absolute;
  bottom: 80px;
  right: 62px;
  pointer-events: none;
}

.form input {
  margin-bottom: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 24px 0;
}

.btn img {
  margin-right: 11px;
}

@media (min-width: 810px) {
  .form {
    margin-top: 50px;
  }
}
