.tur_wrapper {
  margin-top: 40px;
  padding: 40px 30px;
  border-radius: var(--def-radius);
  background-color: var(--primary);
}

.tur_header {
  display: flex;
  justify-content: space-between;
}

.tur_header button {
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  background-color: transparent;
  color: var(--font-white);
}

.tur_header .btn_copy svg {
  margin-left: 5px;
  stroke: var(--font-white);
}

.tur_header .btn_add_to_list {
  text-decoration: underline;
}

.tur_header .btn_add_to_list svg {
  margin-right: 5px;
}

.tur_title {
  margin: 15px 0 40px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: var(--secondary);
}

.tur_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.grid_item.grid_item_scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.grid_item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-light);
  color: var(--font-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 9px 10px;
  border-top-left-radius: var(--def-radius);
  border-top-right-radius: var(--def-radius);
}

.grid_item_header_title_normal {
  font-weight: 400;
  padding: 0 !important;
}

.grid_item_header.grid_item_header_green {
  background-color: var(--green);
}

.grid_item_header .change_btn,
.grid_item_header span {
  padding: 9px 10px;
}

.change_btn {
  text-decoration: underline;
  font-weight: 400;
  background-color: transparent;
}

.change_btn:disabled {
  color: var(--placeholder);
}

.grid_item_content {
  border-bottom-left-radius: var(--def-radius);
  border-bottom-right-radius: var(--def-radius);
  background-color: #fff;
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid_item_content.col_2_grid {
  display: grid;
  grid-template-columns: 65px 1fr;
}

.grid_item_content.col_2_grid svg {
  place-self: center;
}

.grid_item_content_text {
  padding: 20px 0;
  font-size: 14px;
  line-height: 16px;
}

.transport_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.transport_block svg {
  place-self: center;
}

.transport_block > div {
  display: grid;
  grid-template-columns: 65px 1fr;
}

.transport_block_from_to {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  font-size: 14px;
  line-height: 18px;
}

.transport_block_from_to_airlines {
  font-weight: 700;
}

.craft_code {
  color: var(--primary-soft-light);
}

.transport_block_min_1items {
  flex-basis: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.transport_block_min_2items {
  flex-basis: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.room_block {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 18px;
  padding: 20px 0;
}

.room_block_bold {
  font-weight: 700;
}

.room_block_light {
  color: var(--primary-soft-light);
}

.duration_block {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.duration_block_title {
  font-weight: 700;
}

.offer_act_time {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.grid_item_content.grid_item_content_calendar {
  display: block;
  /* overflow-x: auto; */
}

.dates_block_wrapper {
  position: relative;
}

.dates_block_loader_wrapper {
  position: relative;
}

.dates_block {
  display: grid;
  grid-template-columns: repeat(8, minmax(60px, 1fr));
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 14px;
  color: var(--primary-light);
  overflow-x: auto;
  overflow-y: hidden;
}

.dates_block_cell {
  border-bottom: 1px solid var(--line);
  border-right: 1px solid var(--line);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dates_block_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

.dates_block_btns button + button {
  margin-left: 24px;
}

.dates_block_btns button {
  display: flex;
  align-items: center;
  background-color: var(--font-white);
  border: 1px solid var(--line);
  box-shadow: var(--formfield-shadow);
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: var(--primary-light);
  width: 130px;
}

.dates_block_btns button:disabled {
  box-shadow: none;
  color: var(--line);
}

.dates_block_btns span {
  background: url(/assets/img/svg/arrow.svg) var(--font-white) no-repeat;
  width: 38px;
  height: 38px;
}

.btn_prev,
.btn_night_next {
  padding-right: 16px;
  padding-left: 2px;
}

.btn_next,
.btn_night_prev {
  padding-left: 16px;
  padding-right: 2px;
}

.btn_prev span {
  transform: rotateY(-180deg);
}

.btn_night_prev,
.btn_night_next {
  justify-content: space-between;
}

.btn_night_prev span {
  transform: rotate(270deg);
}

.btn_night_next span {
  transform: rotate(90deg);
}

.offer_link,
.offer_link_current {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.offer_link_current {
  background-color: var(--green);
  color: var(--font-white);
}

.offer_link_price {
  line-height: 12px;
}

.offer_link_curr {
  font-size: 12px;
}

.price_block {
  width: 100%;
  padding: 20px;
}

.price_block_incl,
.price_block_notincl {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

.price_block_notincl {
  color: var(--primary-soft-light);
}

.price_block_notincl span,
.price_block_incl span {
  font-weight: 700;
}

.price_block_numbers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-top: 15px;
}

.price_block_numbers .btn_copy {
  padding: 5px;
  padding-left: 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  background-color: transparent;
  color: var(--primary-soft-light);
}

.price_block_numbers .btn_copy svg {
  margin-left: 5px;
  stroke: var(--primary-soft-light);
}

.price_block_sum {
  font-size: 24px;
  font-weight: 700;
  color: var(--green);
}

.price_block_sum_curr {
  font-size: 14px;
}

.order_btn {
  width: 100%;
  margin-top: 30px;
  padding: 24px 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--font-white);
  background: var(--red-btn);
  box-shadow: var(--red-btn-shadow);
}

@media (max-width: 700px) {
  .tur_grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .tur_wrapper {
    margin-left: -20px;
    margin-right: -20px;
    padding: 30px 20px;
    border-radius: 0;
  }
}

@media (max-width: 810px) {
  .dates_block_btns {
    padding-bottom: 15px;
  }

  .dates_block_btns button + button {
    margin-left: 15px;
  }

  .price_block_sum {
    flex-grow: 1;
    text-align: center;
  }
}

@media (max-width: 390px) {
  .tur_header {
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding-bottom: 10px;
  }
}
